In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("main.csv")

In [3]:
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2018           35          7  Sunny
2  01-03-2019           28          2   Snow
3  01-04-2016           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2020           31          2  Sunny

In [6]:
df=pd.read_excel("main.xlsx","main")

In [7]:
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2018-02-01           35          7  Sunny
2 2019-03-01           28          2   Snow
3 2016-04-01           24          7   Snow
4 2017-05-01           32          4   Rain
5 2020-06-01           31          2  Sunny