In [3]:
set1={'apple','banana','orange','melon'}

In [4]:
print(set1)

{'apple', 'melon', 'banana', 'orange'}

In [5]:
for x in set1:
    print(set1)

{'apple', 'melon', 'banana', 'orange'}
{'apple', 'melon', 'banana', 'orange'}
{'apple', 'melon', 'banana', 'orange'}
{'apple', 'melon', 'banana', 'orange'}

In [6]:
print('banana' in set1)

True

In [7]:
print('kiwi' in set1)

False

In [8]:
set1.add('kiwi')

In [9]:
print(set1)

{'melon', 'kiwi', 'apple', 'banana', 'orange'}

In [10]:
print(len(set1))

5

In [11]:
set1.remove('orange')

In [12]:
print(set1)

{'melon', 'kiwi', 'apple', 'banana'}

In [15]:
set1={'x','y','z'}
set2={1,2,3}
set3=set1.union(set2)

In [16]:
print(set3)

{1, 2, 3, 'z', 'y', 'x'}

In [23]:
first={
    
    "kadi":
    {
    "name":'chirag',
    "age": 23,
    "color":'red'
        },
"Ahmedabad":
    {
    "name":'dipak',
    "age":27,
    "color":'brown'
        }
}

In [34]:
print(first)

{'kadi': {'name': 'chirag', 'age': 23, 'color': 'red'}, 'Ahmedabad': {'name': 'dipak', 'age': 27, 'color': 'brown'}}