In [6]:
import pandas as pd
import numpy as np

In [7]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=["Column1","Column2","Column3","Coumn4"])

In [8]:
df

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [9]:
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Coumn4     3
Name: Row1, dtype: int32

In [10]:
df=pd.read_csv("weather_data.csv")

In [11]:
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [12]:
df.shape

(6, 4)

In [13]:
rows,columns=df.shape

In [14]:
columns

4

In [15]:
rows

6

In [17]:
df.head()

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain

In [19]:
df.tail(2)

          day  temperature  windspeed  event
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [20]:
df[2:4]

          day  temperature  windspeed event
2  01-03-2017           28          2  Snow
3  01-04-2017           24          7  Snow

In [21]:
df.iloc[:,:]

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [22]:
df.iloc[2:4,1:3]

   temperature  windspeed
2           28          2
3           24          7

In [29]:
df.iloc[0:2,0]

0    01-01-2017
1    01-02-2017
Name: day, dtype: object

In [30]:
df.to_csv("chb.csv")

In [31]:
df.day

0    01-01-2017
1    01-02-2017
2    01-03-2017
3    01-04-2017
4    01-05-2017
5    01-06-2017
Name: day, dtype: object

In [32]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [38]:
type(df['day'])

pandas.core.series.Series

In [34]:
df['day']

0    01-01-2017
1    01-02-2017
2    01-03-2017
3    01-04-2017
4    01-05-2017
5    01-06-2017
Name: day, dtype: object

In [39]:
type(df['temperature'])

pandas.core.series.Series

In [42]:
df.iloc[:,1:].values

array([[32, 6, 'Rain'],
       [35, 7, 'Sunny'],
       [28, 2, 'Snow'],
       [24, 7, 'Snow'],
       [32, 4, 'Rain'],
       [31, 2, 'Sunny']], dtype=object)

In [45]:
df[['day','temperature']]

          day  temperature
0  01-01-2017           32
1  01-02-2017           35
2  01-03-2017           28
3  01-04-2017           24
4  01-05-2017           32
5  01-06-2017           31

In [46]:
df.temperature.max()

35

In [47]:
df.temperature.min()

24

In [48]:
df.temperature.mean()

30.333333333333332

In [49]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [52]:
df[df.temperature==df.temperature.max()]

          day  temperature  windspeed  event
1  01-02-2017           35          7  Sunny

In [53]:
df[['day','temperature']][df.temperature==df.temperature.max()]

          day  temperature
1  01-02-2017           35

In [54]:
df.index

RangeIndex(start=0, stop=6, step=1)