In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("main.csv")

In [3]:
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2018           35          7  Sunny
2  01-03-2019           28          2   Snow
3  01-04-2016           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2020           31          2  Sunny

In [4]:
df.shape

(6, 4)

In [5]:
rows,columns=df.shape

In [6]:
columns

4

In [7]:
rows

6

In [8]:
df.head()

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2018           35          7  Sunny
2  01-03-2019           28          2   Snow
3  01-04-2016           24          7   Snow
4  01-05-2017           32          4   Rain

In [9]:
df.head(3)

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2018           35          7  Sunny
2  01-03-2019           28          2   Snow

In [10]:
df.tail()

          day  temperature  windspeed  event
1  01-02-2018           35          7  Sunny
2  01-03-2019           28          2   Snow
3  01-04-2016           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2020           31          2  Sunny

In [11]:
df.tail(2)

          day  temperature  windspeed  event
4  01-05-2017           32          4   Rain
5  01-06-2020           31          2  Sunny

In [12]:
df[2:5]

          day  temperature  windspeed event
2  01-03-2019           28          2  Snow
3  01-04-2016           24          7  Snow
4  01-05-2017           32          4  Rain

In [13]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [14]:
df.day

0    01-01-2017
1    01-02-2018
2    01-03-2019
3    01-04-2016
4    01-05-2017
5    01-06-2020
Name: day, dtype: object

In [15]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [16]:
df['day']

0    01-01-2017
1    01-02-2018
2    01-03-2019
3    01-04-2016
4    01-05-2017
5    01-06-2020
Name: day, dtype: object

In [17]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [18]:
df.iloc[:,:]

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2018           35          7  Sunny
2  01-03-2019           28          2   Snow
3  01-04-2016           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2020           31          2  Sunny

In [19]:
df.iloc[0:2,0:3]

          day  temperature  windspeed
0  01-01-2017           32          6
1  01-02-2018           35          7

In [20]:
type(df['event'])

pandas.core.series.Series

In [21]:
df.iloc[:,1:].values

array([[32, 6, 'Rain'],
       [35, 7, 'Sunny'],
       [28, 2, 'Snow'],
       [24, 7, 'Snow'],
       [32, 4, 'Rain'],
       [31, 2, 'Sunny']], dtype=object)

In [23]:
df[['day','temperature']]

          day  temperature
0  01-01-2017           32
1  01-02-2018           35
2  01-03-2019           28
3  01-04-2016           24
4  01-05-2017           32
5  01-06-2020           31

In [24]:
df.temperature.max()

35

In [25]:
df['temperature'].max()

35

In [26]:
df.temperature.min()

24

In [27]:
df.temperature.sum()

182

In [29]:
df.temperature.mean()

30.333333333333332

In [30]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [31]:
df[df.temperature>=32]

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2018           35          7  Sunny
4  01-05-2017           32          4   Rain

In [32]:
df[df.temperature==df.temperature.max()]

          day  temperature  windspeed  event
1  01-02-2018           35          7  Sunny

In [33]:
df[['day','temperature']][df.temperature==df.temperature.max()]

          day  temperature
1  01-02-2018           35

In [34]:
df.index

RangeIndex(start=0, stop=6, step=1)